@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&family=Inter&family=Roboto:wght@900&display=swap');

body {
    margin: 0;
    padding: 0;

    background: #ffffff;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 45px;
    padding-right: 45px;

    background-color: rgb(210, 225, 241);
    border: 1px solid #333;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: auto;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

#hero-text {
    font-family: 'Gabarito', sans-serif;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

#hero-desc {
    font-family: 'Roboto', sans-serif;
    color: rgb(138, 138, 138);
    font-size: 16px;
}

.hero-section {
    padding: 40px;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;
}

.hero-feature {
    width: 200px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fafafa;
    padding: 10px;
    border-radius: 10px;

    gap: 15px;

    box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.1);
}

.hero-feature-title {
    font-family: "Gabarito", sans-serif;
    font-size: 21px;
    color: rgb(0, 0, 0);
}

.hero-feature-desc {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: gray;
}

.hero-feature-icon {
    color: black;
    background: white;
    padding: 5px;

    border-radius: 5px;
}

.hero-features {
    width: 660px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;

    justify-content: center;
    align-items: center;
}

.explore-section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 10px;
}

.explore-stories {
    width: 40%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 15px;
}

.explore-story {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 5px;

    background: #ffffff;
    padding: 10px;
    box-sizing: border-box;

    border-radius: 10px;

    box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.1);
}

.story-title {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.story-desc {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    color: rgb(61, 61, 61);
}

.story-img {
    width: 100%;
}

.explore-title {
    font-family: "Gabarito", sans-serif;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.ending-title {
    font-family: "Gabarito", sans-serif;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.ending-desc {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 16px;
}

.ending-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pricing-table {
    width: 40%;
    background: #ffffff;
    box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.1);
}

.tagline-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    box-sizing: border-box;
}

.tagline-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;

    padding: 120px;
    gap: 10px;

    box-sizing: border-box;
}

#tagline-title {
    font-family: "Gabarito", sans-serif;
    font-size: 70px;

    color: white;

    margin-top: auto;
}

#tagline-subtitle {
    font-family: "Gabarito", sans-serif;
    font-size: 40px;
    color:white;

    margin-top: auto;
}

.videobg {
    object-fit: cover;
    width: 100vw;
    height: 40vh;
    position: absolute;

    z-index: -1;

    box-sizing: border-box;
}

footer {
    display: flex;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 10px 100px 10px 100px;
    box-sizing: border-box;

    background: #dfdfdf;
    gap: 15px;
}

.footer-nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 30px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 8px;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
}

.footer-disclaimer {
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 16px;
}

table, th, td {
    border: 1px solid #d8d8d8;
}

th {
    color: rgb(31, 31, 31);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

td {
    padding: 10px;
    color: rgb(27, 27, 27);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

a {
    color: rgb(56, 56, 56);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/*
    about.html
*/

.about-section {
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 60px;
}

.about-story {
    width: 100%;
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;

    box-sizing: border-box;
}

.about-story-img {
    width: 30%;
    margin-right: auto;
}

.about-story-img-alt {
    width: 30%;
    margin-left: auto;
}

.about-story-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 30px;
}

.about-story-title {
    font-family: "Gabarito", sans-serif;
    font-size: 60px;
}

.about-story-content {
    width: 600px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

/*
    contact.html
*/

.contact-section {
    display: flex;

    flex-direction: row;
    justify-content: space-around;

    align-items: center;

    gap: 0;
}

.number-sections {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 10px;
}

.social-sections {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 10px;
}

.number-title {
    font-family: "Gabarito", sans-serif;
    font-size: 30px;
}

.number-phone {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

/*
    openings.html
    */

.notice-section {
    width: 100%;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notice-title {
    font-family: "Gabarito", sans-serif;
    font-size: 60px;
}

.notice-text {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}
